<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm  navbar-custom ">
  <div class="container">
          <div class="col ubuntu-regular" [routerLink]="['']"> lets's chat </div>
          <div class="col d-flex justify-content-end ubuntu-regular-link">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                  </li>
                    <li><button mat-button [matMenuTriggerFor]="afterMenu"><mat-icon>settings</mat-icon></button>
                      <mat-menu #afterMenu="matMenu" xPosition="after">
                        <button [routerLink]="['/register']" mat-menu-item>Sign-In</button>
                        <button [routerLink]="['/user-profile']" mat-menu-item>Profiles</button>
                        <button mat-menu-item (click)="this.logout()">Logout</button>
                      </mat-menu></li>
              </ul>
          </div>
      </div>
  </nav>
  <div class="container container_bor">

      <router-outlet></router-outlet>
</div>
