:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fixed-size-image {
  width: 650px; 
  height: 450px; 
  object-fit: cover; 
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.pill-btn {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  line-height: 44px;
  background: #b6ccfc;
  padding: 0px 30px;
  border-radius: 999em;
  text-decoration: none;
  color: #0e0d0d;
  font-size: 13px;
  vertical-align: bottom;
  white-space: nowrap;
  border: 3px solid #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  transition: 0.15s background-color, 0.15s border-color, 0.15s color,
    0.15s fill;
  font-weight: 600;
}
.pill-btn:hover {
  background: #7a9bff;
  border: 3px solid #7493f2;
  color: black;
}

.textarea {
  width: 500px;
  height: 80px;
}
.post_button {
  background-color: white;
  color: black;
}

.example-form {
  min-width: 250px;
  max-width: 600px;
  width: 100%;
}

.example-full-width {
  width: 200%;
}
.post_profile_name {
  font-weight: lighter;
}

.button_wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.like_button{
  color:darkred;
 }


/* comment-section */
